{% extends 'base.html.twig' %}

{% block title %}My API Tokens{% endblock %}

{% block body %}
    <h1>My API Tokens</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>ExpiresAt</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for token in tokens %}
            <tr>
                <td>{{ token.id }}</td>
                <td>{{ token.expiresAt ? token.expiresAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('user_api_token_show', {'id': token.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_api_token_new') }}">Create new</a>
{% endblock %}
